%h1 Cursos:
%br
= link_to 'Agregar Curso', new_asignatura_path, class: "btn btn-primary"
%br
%br
%div
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th Nombre
          %th Nrc
          %th Semestre
          %th Editar
      %tbody
        - @asignaturas.each do |asignatura|
          %tr
            %td= asignatura.nombre
            %td= asignatura.nrc
            %td= asignatura.semestre
            %td= link_to 'Editar', edit_asignatura_path(asignatura)
            %td= link_to 'Ver QCD', asignatura_path(asignatura)




