%p#notice= notice

%p
  %b Profe:
  = @asignatura.profe
%p
  %b Division:
  = @asignatura.division
%p
  %b Dpto:
  = @asignatura.dpto
%p
  %b Programa:
  = @asignatura.programa
%p
  %b Nombre:
  = @asignatura.nombre
%p
  %b Nrc:
  = @asignatura.nrc
%p
  %b Semestre:
  = @asignatura.semestre
%p
  %b Creditos:
  = @asignatura.creditos
%p
  %b Objetivo1:
  = @asignatura.objetivo1
%p
  %b Objetivo2:
  = @asignatura.objetivo2
%p
  %b Objetivo3:
  = @asignatura.objetivo3
%p
  %b Objetivo4:
  = @asignatura.objetivo4
%p
  %b Objetivo5:
  = @asignatura.objetivo5
%p
  %b Objetivo6:
  = @asignatura.objetivo6
%p
  %b Objetivo7:
  = @asignatura.objetivo7
%p
  %b Objetivo8:
  = @asignatura.objetivo8
%p
  %b Objetivo9:
  = @asignatura.objetivo9
%p
  %b Objetivo10:
  = @asignatura.objetivo10

= link_to 'Edit', edit_asignatura_path(@asignatura)
\|
= link_to 'Back', asignaturas_path
