%p#notice= notice
%p
  %b Nombre:
  = @asignatura.nombre
%p
  %b Nrc:
  = @asignatura.nrc
%p
  %b Semestre:
  = @asignatura.semestre

%br
= link_to 'Agregar QCD', new_asignatura_qcd_path(@asignatura), class: "btn btn-primary"
%br
%br
- if @rapidfire_question_groups.nil?
  .container
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th Fecha
            %th Salon
            %th Editar
            %th Form. Ind.
            %th Form. Gru.
            %th Resultados
        %tbody
          - @qcd.each do |qcd|
            %tr
              %td= qcd.fecha
              %td= qcd.salon
              %td= link_to 'Edit', edit_asignatura_qcd_path(@asignatura, qcd)
              %td= link_to 'Link ind.', new_asignatura_qcd_answergroup_path(@asignatura, qcd)
              %td= link_to 'Link gru.', asignatura_qcd_answergroups_grupal_path(@asignatura, qcd)
              %td= link_to 'Resultados', asignatura_qcd_path(@asignatura, qcd)
  = link_to 'Back', asignaturas_path

