%h2 Editar Cuenta
- flash.each do |name, msg|
  = content_tag :div, msg
= simple_form_for(@user) do |f|
  = f.error_notification
  .form-inputs
  = f.input :email, required: true, autofocus: true, disabled: true, hint: 'Se necesita solicitar el cambio a un administrador'
  = f.input :name, autocomplete: "off", required: true, disabled: true, hint: 'Se necesita solicitar el cambio a un administrador'
  = f.input :ubicacion, autocomplete: "off", required: true
  .form-actions
  = f.button :submit, "Actualizar"
