= simple_form_for(:answer, url: "/asignaturas/#{@qcd.asignatura.id}/qcds/#{@qcd.id}/answers") do |f|
  = f.error_notification

  .form-inputs
    = f.input :qcd, :name => "answer[1][qcd]" 
    = f.input :order, :name => "answer[1][order]" 
    = f.input :answer, :name => "answer[1][answer]"
    = f.input :qcd, :name => "answer[2][qcd]" 
    = f.input :order, :name => "answer[2][order]" 
    = f.input :answer, :name => "answer[2][answer]" 
    = f.input :qcd, :name => "answer[3][qcd]" 
    = f.input :order, :name => "answer[3][order]" 
    = f.input :answer, :name => "answer[3][answer]" 
    = f.input :qcd, :name => "answer[][qcd]" 
    = f.input :order, :name => "answer[][order]" 
    = f.input :answer, :name => "answer[][answer]" 

  .form-actions
    = f.button :submit