= simple_form_for [@qcd.asignatura, @qcd, @answergroups] do |f|
  = f.error_notification
  .form-inputs
    .row
      .col-xs-12.col-md-10.col-md-offset-1
        = f.association :qcd, :as => :hidden
        = f.input :group, :as => :hidden, input_html: {value: 'false'}
        .panel.panel-info
          .panel-heading
            ACTIVIDAD 3: TRABAJO EN GRUPO SOBRE IDENTIFICACIÓN DE FORTALEZAS Y DEBILIDADES DE LA ASIGNATURA
          .panel-body
            %h4 ASPECTOS QUE PERMITEN IDENTIFICAR FORTALEZAS Y DEBILIDADES DE LA ASIGNATURA
            .list-group
              .list-group-item
                %p.list-group-item-text 
                  %b 
                    Estrategias de enseñanza utilizadas en las clases
                  (trabajo colaborativo, explicaciones magistrales, solución de ejercicios, etc.) 
              .list-group-item
                %p.list-group-item-text 
                  %b 
                    Organización y claridad de los contenidos
                  (formas de presentar los contenidos, claridad en las explicaciones, nivel de complejidad de los temas, etc.) 
              .list-group-item
                %p.list-group-item-text 
                  %b 
                    Actividades de aprendizaje en el aula
                  (trabajo colaborativo, preguntas y respuestas, solución de problemas, etc.)
              .list-group-item
                %p.list-group-item-text 
                  %b 
                    Interacción con los estudiantes
                  (fomento al dialogo respetuoso, respeto por el alumno, amabilidad, capacidad de escucha)
              .list-group-item
                %p.list-group-item-text 
                  %b 
                    Evaluación
                  (Nivel de exigencia de las evaluaciones, correspondencia con os objetivos ytemas vistos, formas de calificación, quices, trabajos) 
              .list-group-item
                %p.list-group-item-text 
                  %b 
                    Uso de TIC como mediación pedagógica 
                  (uso de dispositivos y aplicaciones Web o software para desarrollar actividades en clase, uso de diapositivas, etc.)
              .list-group-item
                %p.list-group-item-text 
                  %b 
                    Materiales de estudio y de consulta empleados 
                  (pertinencia, extensión, idioma, en papel o digital, existencia en la biblioteca, indicaciones para conseguirlos, etc.)
              .list-group-item
                %p.list-group-item-text 
                  %b 
                    Organización y cumplimiento de los compromisos académicos 
                  (puntualidad en las clases, entrega de resultados y notas, etc..) 
            %br
            %b Numero de integrantes en el grupo:
            %input.form-control{:type => "number", :name => 'answers[37]', :min => '1', :required => true}
            %br
            .panel.panel-info
              .panel-heading
                ACTIVIDAD 3A: IDENTIFICACIÓN DE FORTALEZAS DE LA ASIGNATURA
              .panel-body
                %p Como grupo deben elegir a una persona encargada de redactar las respuestas a las actividades que se plantean a continuación.
                %b Escriban en este espacio la fortaleza mencionada por cada integrante del grupo:
                %p Cada integrante del grupo debe expresar UNA fortaleza que considere es la más relevante de la asignatura. Es importante que redacten de manera clara y precisa.
                %textarea.form-control{:type => "text", :name => 'answers[31]', :required => true}
            .panel.panel-info
              .panel-heading
                ACTIVIDAD 3B: IDENTIFICACIÓN DE DEBILIDADES DE LA ASIGNATURA
              .panel-body
                %p Como grupo deben elegir a una persona encargada de redactar las respuestas a las actividades que se plantean a continuación.
                %b Escriban en este espacio la debilidad mencionada por cada integrante del grupo:
                %p Cada integrante del grupo debe expresar UNA debilidad que considere es la más relevante de la asignatura. Es importante que redacten de manera clara y precisa.
                %textarea.form-control{:type => "text", :name => 'answers[32]', :required => true}
            .panel.panel-info
              .panel-heading
                ACTIVIDAD 3C: PRIORIZACIÓN DE FORTALEZAS Y DEBILIDADES
              .panel-body
                %p Trabajando en equipo, identifiquen la FORTALEZA número 1 y la DEBILIDAD número 1 de esta asignatura de acuerdo a los aspectos planteados en las actividades anteriores. 
                %b Seleccionen solo UNA FORTALEZA de esta asignatura:
                %select.form-control{:name => 'answers[33]', :required => true}
                  %option{:value => "1"} Estrategias de enseñanza utilizadas en las clases
                  %option{:value => "2"} Organización y claridad de los contenidos
                  %option{:value => "3"} Actividades de aprendizaje en el aula
                  %option{:value => "4"} Interacción con los estudiantes
                  %option{:value => "5"} Evaluación
                  %option{:value => "6"} Uso de TIC como mediación pedagógica
                  %option{:value => "7"} Materiales de estudio y de consulta empleados
                  %option{:value => "8"} Organización y cumplimiento de los compromisos académicos
                  %option{:value => "9"} Otros
                %br
                %b Seleccionen solo UNA DEBILIDAD de esta asignatura:
                %select.form-control{:name => 'answers[34]', :required => true}
                  %option{:value => "1"} Estrategias de enseñanza utilizadas en las clases
                  %option{:value => "2"} Organización y claridad de los contenidos
                  %option{:value => "3"} Actividades de aprendizaje en el aula
                  %option{:value => "4"} Interacción con los estudiantes
                  %option{:value => "5"} Evaluación
                  %option{:value => "6"} Uso de TIC como mediación pedagógica
                  %option{:value => "7"} Materiales de estudio y de consulta empleados
                  %option{:value => "8"} Organización y cumplimiento de los compromisos académicos
                  %option{:value => "9"} Otros
                %br
                %b ¿Qué sugieren al docente para mejorar el desarrollo de las clases en esta asignatura?
                %textarea.form-control{:type => "text", :name => 'answers[35]', :required => true}
                %br
                %b ¿Qué sugieren a sus compañeros para mejorar el desarrollo de las clases en esta asignatura?
                %textarea.form-control{:type => "text", :name => 'answers[36]', :required => true}
                %br
          .form-actions.text-center
            = f.button :submit, value: "Enviar", :class => 'btn btn-info btn-lg'
          %br
