= simple_form_for [@qcd.asignatura, @qcd, @answergroups], validates: true do |f|
  = f.error_notification
  .form-inputs
    = f.association :qcd, :as => :hidden
    = f.input :group, :as => :hidden, input_html: {value: 'true'}
    .row
      .col-xs-12.col-md-10.col-md-offset-1
        .panel.panel-info
          .panel-heading
            ACTIVIDAD 1: NIVEL GENERAL DE SATISFACCIÓN...
          .panel-body
            %h4 Indica tu nivel de satisfacción con la experiencia de aprendizaje en esta asignatura:           
            %p Escribe una frase que describa tu nivel general de satisfacción en esta asignatura… 
            %textarea.form-control{:type => "text", :name => 'answers[1]', :required => true}
            %br
            %p Selecciona un número del 1 al 5 (1 = indica el nivel más bajo… 5 = indica el nivel más alto)
            %table.table.table-responsive
              %thead
                %tr
                  %th.hidden-xs
                  %th.hidden-xs
                  %th.text-center 1
                  %th.hidden-xs
                  %th.text-center 2
                  %th.hidden-xs
                  %th.text-center 3
                  %th.hidden-xs
                  %th.text-center 4
                  %th.hidden-xs
                  %th.text-center 5
                  %th.hidden-xs
                  %th.hidden-xs
              %tbody
                %tr.active 
                  %td.hidden-xs.text-right.ver_allign
                    Muy poco satisfecho
                  %td.text-center.hidden-xs
                  %td.text-center
                    %input{:name => "answers[2]", :type => "radio", :value => "1", :required => true}
                  %td.text-center.hidden-xs
                  %td.text-center
                    %input{:name => "answers[2]", :type => "radio", :value => "2", :required => true}
                  %td.text-center.hidden-xs
                  %td.text-center
                    %input{:name => "answers[2]", :type => "radio", :value => "3", :required => true}
                  %td.text-center.hidden-xs
                  %td.text-center
                    %input{:name => "answers[2]", :type => "radio", :value => "4", :required => true}
                  %td.text-center.hidden-xs
                  %td.text-center
                    %input{:name => "answers[2]", :type => "radio", :value => "5", :required => true}
                  %td.text-center.hidden-xs
                  %td.hidden-xs.ver_allign
                    Muy satisfecho
            %br
            %h4 ¿Qué tan pertinente consideras que es esta asignatura para tu formación profesional en la carrera que elegiste?
            %p Selecciona un número del 1 al 5 (1 = indica No es pertinente… 5 = indica Muy pertinente )
            %table.table.table-responsive
              %thead
                %tr
                  %th.hidden-xs
                  %th.hidden-xs
                  %th.text-center 1
                  %th.hidden-xs
                  %th.text-center 2
                  %th.hidden-xs
                  %th.text-center 3
                  %th.hidden-xs
                  %th.text-center 4
                  %th.hidden-xs
                  %th.text-center 5
                  %th.hidden-xs
                  %th.hidden-xs
              %tbody
                %tr.active 
                  %td.hidden-xs.text-right.ver_allign
                    No es pertinente
                  %td.text-center.hidden-xs
                  %td.text-center
                    %input{:name => "answers[25]", :type => "radio", :value => "1", :required => true}
                  %td.text-center.hidden-xs
                  %td.text-center
                    %input{:name => "answers[25]", :type => "radio", :value => "2", :required => true}
                  %td.text-center.hidden-xs
                  %td.text-center
                    %input{:name => "answers[25]", :type => "radio", :value => "3", :required => true}
                  %td.text-center.hidden-xs
                  %td.text-center
                    %input{:name => "answers[25]", :type => "radio", :value => "4", :required => true}
                  %td.text-center.hidden-xs
                  %td.text-center
                    %input{:name => "answers[25]", :type => "radio", :value => "5", :required => true}
                  %td.text-center.hidden-xs
                  %td.hidden-xs.ver_allign
                    Muy pertinente
            %p De acuerdo a la respuesta anterior, expresa en una frase por qué consideras que esta asignatura es pertinente para tu formación profesional en la carrera que elegiste.
            %textarea.form-control{:type => "text", :name => 'answers[26]', :required => true}
        .panel.panel-info
          .panel-heading
            ACTIVIDAD 2: LOGRO DE LOS RESULTADOS DE APRENDIZAJE
          .panel-body
            %h4 Indica en que medida consideras se han logrado los objetivos de aprendizaje propuestos en la asignatura
            %p Responde tomando en consideración los objetivos que se encuentran descritos a continuación. 
            %table.table.table-responsive.table-striped.table-hover
              %thead
                %tr
                  %th
                  %th.text-center Se ha logrado completamente
                  %th.text-center Se ha logrado parcialmente
                  %th.text-center No se ha logrado
                  %th.text-center No aplica
              %tbody
                %tr
                  %td
                    = @qcd.asignatura.objetivo1
                  %td.text-center.ver_allign
                    %input{:name => "answers[3]", :type => "radio", :value => "3", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[3]", :type => "radio", :value => "2", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[3]", :type => "radio", :value => "1", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[3]", :type => "radio", :value => "0", :required => true}
                  -if @qcd.asignatura.objetivo2 != ""
                    %tr
                      %td
                        = @qcd.asignatura.objetivo2
                      %td.text-center.ver_allign
                        %input{:name => "answers[4]", :type => "radio", :value => "3", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[4]", :type => "radio", :value => "2", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[4]", :type => "radio", :value => "1", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[4]", :type => "radio", :value => "0", :required => true}
                  - if @qcd.asignatura.objetivo3 != ""
                    %tr
                      %td
                        = @qcd.asignatura.objetivo3
                      %td.text-center.ver_allign
                        %input{:name => "answers[5]", :type => "radio", :value => "3", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[5]", :type => "radio", :value => "2", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[5]", :type => "radio", :value => "1", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[5]", :type => "radio", :value => "0", :required => true}
                  - if @qcd.asignatura.objetivo4 != ""
                    %tr
                      %td
                        = @qcd.asignatura.objetivo4
                      %td.text-center.ver_allign
                        %input{:name => "answers[6]", :type => "radio", :value => "3", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[6]", :type => "radio", :value => "2", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[6]", :type => "radio", :value => "1", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[6]", :type => "radio", :value => "0", :required => true}
                  - if @qcd.asignatura.objetivo5 != ""
                    %tr
                      %td
                        = @qcd.asignatura.objetivo5
                      %td.text-center.ver_allign
                        %input{:name => "answers[7]", :type => "radio", :value => "3", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[7]", :type => "radio", :value => "2", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[7]", :type => "radio", :value => "1", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[7]", :type => "radio", :value => "0", :required => true}
                  - if @qcd.asignatura.objetivo6 != ""
                    %tr
                      %td
                        = @qcd.asignatura.objetivo6
                      %td.text-center.ver_allign
                        %input{:name => "answers[8]", :type => "radio", :value => "3", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[8]", :type => "radio", :value => "2", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[8]", :type => "radio", :value => "1", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[8]", :type => "radio", :value => "0", :required => true}
                  - if @qcd.asignatura.objetivo7 != ""
                    %tr
                      %td
                        = @qcd.asignatura.objetivo7
                      %td.text-center.ver_allign
                        %input{:name => "answers[9]", :type => "radio", :value => "3", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[9]", :type => "radio", :value => "2", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[9]", :type => "radio", :value => "1", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[9]", :type => "radio", :value => "0", :required => true}
                  - if @qcd.asignatura.objetivo8 != ""
                    %tr
                      %td
                        = @qcd.asignatura.objetivo8
                      %td.text-center.ver_allign
                        %input{:name => "answers[10]", :type => "radio", :value => "3", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[10]", :type => "radio", :value => "2", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[10]", :type => "radio", :value => "1", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[10]", :type => "radio", :value => "0", :required => true}
                  - if @qcd.asignatura.objetivo9 != ""
                    %tr
                      %td
                        = @qcd.asignatura.objetivo9
                      %td.text-center.ver_allign
                        %input{:name => "answers[11]", :type => "radio", :value => "3", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[11]", :type => "radio", :value => "2", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[11]", :type => "radio", :value => "1", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[11]", :type => "radio", :value => "0", :required => true}
                  - if @qcd.asignatura.objetivo10 != ""
                    %tr
                      %td
                        = @qcd.asignatura.objetivo10
                      %td.text-center.ver_allign
                        %input{:name => "answers[12]", :type => "radio", :value => "3", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[12]", :type => "radio", :value => "2", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[12]", :type => "radio", :value => "1", :required => true}
                      %td.text-center.ver_allign
                        %input{:name => "answers[12]", :type => "radio", :value => "0", :required => true}
            %b ¿Cuál es tu promedio académico?
            %select.form-control{:name => 'answers[13]', :required => true}
              %option{:value => "Entre 2,95 y 3,24"} Entre 2,95 y 3,24
              %option{:value => "Entre 3,25 y 3,94"} Entre 3,25 y 3,94
              %option{:value => "Entre 3,95 y 5,00"} 'Entre 3,95 y 5,00
              %option{:value => "Soy de primer semestre"} Soy de primer semestre
            %b ¿Eres becario?
            %select.form-control{:name => 'answers[14]', :required => true}
              %option{:value => "Si"} Si
              %option{:value => "No"} No
            %br
            %h4 En esta asignatura...
            %table.table.table-responsive.table-striped.table-hover
              %thead
                %tr
                  %th
                  %th.text-center Nunca
                  %th.text-center Algunas veces
                  %th.text-center Bastantes veces
                  %th.text-center Siempre
              %tbody
                %tr
                  %td
                    Me considero lo suficientemente capacitado para enfrentarme con éxito a cualquier tarea o trabajo en esta asignatura.
                  %td.text-center.ver_allign
                    %input{:name => "answers[15]", :type => "radio", :value => "1", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[15]", :type => "radio", :value => "2", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[15]", :type => "radio", :value => "3", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[15]", :type => "radio", :value => "4", :required => true}
                %tr
                  %td
                    Pienso que tengo bastante capacidad para comprender bien y con rapidez los temas que se tratan en esta asignatura
                  %td.text-center.ver_allign
                    %input{:name => "answers[16]", :type => "radio", :value => "1", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[16]", :type => "radio", :value => "2", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[16]", :type => "radio", :value => "3", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[16]", :type => "radio", :value => "4", :required => true}
                %tr
                  %td
                    Tengo la convicción de que puedo obtener resultados excelentes en las evaluaciones, quices o exámenes en esta asignatura.
                  %td.text-center.ver_allign
                    %input{:name => "answers[17]", :type => "radio", :value => "1", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[17]", :type => "radio", :value => "2", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[17]", :type => "radio", :value => "3", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[17]", :type => "radio", :value => "4", :required => true}
                %tr
                  %td
                    Si me lo propongo, creo que tengo la suficiente capacidad para obtener un buen desempeño académico en esta asignatura.
                  %td.text-center.ver_allign
                    %input{:name => "answers[18]", :type => "radio", :value => "1", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[18]", :type => "radio", :value => "2", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[18]", :type => "radio", :value => "3", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[18]", :type => "radio", :value => "4", :required => true}
            %br
            %h4 Piensa en esta asignatura y responde sinceramente a cada una de las siguientes preguntas...
            %table.table.table-responsive.table-striped.table-hover
              %thead
                %tr
                  %th
                  %th.text-center Nunca
                  %th.text-center Algunas veces
                  %th.text-center Bastantes veces
                  %th.text-center Siempre
              %tbody
                %tr
                  %td
                    Durante el desarrollo de las clases el profesor(a) ajusta la forma y velocidad de la enseñanza e interacción para equipararlo con las capacidades y ritmos de aprendizaje de todos los estudiantes.
                  %td.text-center.ver_allign
                    %input{:name => "answers[19]", :type => "radio", :value => "1", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[19]", :type => "radio", :value => "2", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[19]", :type => "radio", :value => "3", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[19]", :type => "radio", :value => "4", :required => true}
                %tr
                  %td
                    Durante el desarrollo de las clases el profesor(a) escucha, es flexible y permite que cada estudiante trabaje a su propio paso.
                  %td.text-center.ver_allign
                    %input{:name => "answers[20]", :type => "radio", :value => "1", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[20]", :type => "radio", :value => "2", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[20]", :type => "radio", :value => "3", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[20]", :type => "radio", :value => "4", :required => true}
                %tr
                  %td
                    Durante el desarrollo de las clases el profesor(a) expresa afecto (agrado, aprecio) hacia los estudiantes.
                  %td.text-center.ver_allign
                    %input{:name => "answers[21]", :type => "radio", :value => "1", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[21]", :type => "radio", :value => "2", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[21]", :type => "radio", :value => "3", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[21]", :type => "radio", :value => "4", :required => true}
                %tr
                  %td
                    Durante el desarrollo de las clases el profesor (a) proporciona a los estudiantes posibilidades de elección y opciones de trabajo en clase o fuera de ella.
                  %td.text-center.ver_allign
                    %input{:name => "answers[22]", :type => "radio", :value => "1", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[22]", :type => "radio", :value => "2", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[22]", :type => "radio", :value => "3", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[22]", :type => "radio", :value => "4", :required => true}
                %tr
                  %td
                    Durante el desarrollo de las clases el profesor (a) realiza actividades (talleres, ejercicios, tareas, etc.) que están acordes con el nivel de conocimiento y experticia de sus estudiantes (No son ni muy difíciles ni muy fáciles).
                  %td.text-center.ver_allign
                    %input{:name => "answers[23]", :type => "radio", :value => "1", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[23]", :type => "radio", :value => "2", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[23]", :type => "radio", :value => "3", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[23]", :type => "radio", :value => "4", :required => true}
                %tr
                  %td
                    Durante el desarrollo de las clases es posible apreciar que en verdad el profesor(a) disfruta estar con sus estudiantes e interactuar con ellos.
                  %td.text-center.ver_allign
                    %input{:name => "answers[24]", :type => "radio", :value => "1", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[24]", :type => "radio", :value => "2", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[24]", :type => "radio", :value => "3", :required => true}
                  %td.text-center.ver_allign
                    %input{:name => "answers[24]", :type => "radio", :value => "4", :required => true}
  .form-actions.text-center
    = f.button :submit, value: "Enviar", :class => 'btn btn-info btn-lg' 
:javascript
  $(document).ready(function(){
    $(".footer").css("min-width","530px");
    $(".paper").css("min-width","530px");
  });
  
  