%h1 Listing answergroups

%table
  %thead
    %tr
      %th Qcd
      %th
      %th
      %th

  %tbody
    - @answergroups.each do |answergroup|
      %tr
        %td= answergroup.qcd
        %td= link_to 'Show', answergroup
        %td= link_to 'Edit', edit_answergroup_path(answergroup)
        %td= link_to 'Destroy', answergroup, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Answergroup', new_answergroup_path
