.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      = link_to "QCD Demo", proves_path, class: "navbar-brand"
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.glyphicon.glyphicon-bar
        %span.glyphicon.glyphicon-bar
        %span.glyphicon.glyphicon-bar
    .navbar-collapse.collapse.pull-right
      %ul.nav.navbar-nav
        %li
        - if current_user
          %li= link_to "Cuenta", main_app.edit_user_path(current_user.id)
          %li= link_to "Cursos", main_app.asignaturas_path
          %li= link_to "Cerrar Sesion", main_app.destroy_user_session_path, method: :delete
        - else
          %li= link_to "Iniciar Sesion", user_google_oauth2_omniauth_authorize_path
